<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-xl-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-primary bg-soft">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <span class="logo-lg">
                    <img src="https://wael.local.itwise.pro/cloud_manager/assets/images/logo-argus-dark.png" alt=""
                      height="40">
                    <h6 class="text-primary font-size-15">Cloud Management Platform</h6>
                  </span>
                  <p>Reset password.</p>
                </div>
              </div>
              <div class="col-5 pt-2 align-self-end">
                <img src="assets/images/reset.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-2">
            <div class="p-2">
              <form class="form-horizontal">
                <div class="mb-3">
                  <label for="useremail" class="form-label">Email</label>
                  <input type="email" class="form-control" id="useremail" placeholder="Enter your email please ...">
                </div>
                <div class="text-end">
                  <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="mt-3 text-center">
          <p>Remember It ? <a routerLink="" class="fw-medium text-primary"> Sign In here</a> </p>
        </div>
      </div>
    </div>
  </div>
</div>
