<div class="domainLoad d-none"
  style="position: absolute;left: 0;height: 100%;opacity:80%;  margin: auto;background: #fff;text-align: center;right: 0;z-index: 1003;">
  <svg _ngcontent-cev-c121="" version="1.1" id="L7" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
    xml:space="preserve" style="width: 4%; margin-top: 22%;">
    <path _ngcontent-cev-c121="" fill="#f29832" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
                                                    c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
      <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate" dur="2s"
        from="0 50 50" to="360 50 50" repeatCount="indefinite">
      </animateTransform>
    </path>
    <path _ngcontent-cev-c121="" fill="#f29832" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
                                                    c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
      <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate" dur="1s"
        from="0 50 50" to="-360 50 50" repeatCount="indefinite">
      </animateTransform>
    </path>
    <path _ngcontent-cev-c121="" fill="#f29832" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
                                                    L82,35.7z">
      <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate" dur="2s"
        from="0 50 50" to="360 50 50" repeatCount="indefinite">
      </animateTransform>
    </path>
  </svg>
  <div class="text-dark">
    <span class="logo-lg">
      <img src="https://wael.local.itwise.pro/cloud_manager/assets/images/logo-argus-dark.png" alt="" height="50">
    </span>
  </div>
</div>
<app-navbar2></app-navbar2>
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 pt-5">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Domain Names</h4>
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a>Domain names</a></li>
                <li class="breadcrumb-item active">List</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row fl">
                <div class="col-sm-12">
                  <div class="text-sm-end" *ngIf="this.usrPer.domains.includes('create')==true">
                    <button type="button"
                      class="btn btn-primary btn-rounded waves-effect waves-light mb-2 me-2 button-mobile"
                      data-bs-backdrop="static" data-bs-toggle="modal" data-bs-target="#myModal2"><i
                        class="mdi mdi-plus me-1"></i>New domain</button>
                    <button type="button"
                      class="btn btn-primary btn-rounded waves-effect waves-light mb-2 me-2 icone-mobile"
                      data-bs-backdrop="static" data-bs-toggle="modal" data-bs-target="#myModal2"><i
                        class="mdi mdi-plus me-1"></i></button>
                  </div>
                </div>
              </div>
              <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="row-border "
                class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline collapsed  text-center"
                id="table_domain">
                <thead class="table-light">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let domain of domainName" data-id="domain-{{domain.id}}">
                    <td>{{domain?.id}}</td>
                    <td>{{domain?.name}}</td>
                    <td>
                      <span *ngIf="domain?.status==1"><span
                          class="badge rounded-pill badge-soft-success font-size-12">Active</span></span>
                      <span *ngIf="domain?.status==2"><span
                          class="badge rounded-pill badge-soft-danger font-size-12">Inactive</span></span>
                      <span *ngIf="domain?.status==3"><span
                          class="badge rounded-pill badge-soft-warning font-size-12">In Progress</span></span>
                    </td>
                    <td>
                      <div class="d-flex gap-2 justify-content-center">
                        <a *ngIf="this.usrPer.domains.includes('update')==true" class="btn btn-sm btn-soft-primary"
                          placement="top" ngbTooltip="Edit" [routerLink]="['./domain-details/',domain?.id]">
                          <i class="mdi mdi-pencil font-size-16"></i>
                        </a>
                        <a *ngIf="this.usrPer.domains.includes('delete')==true" class="btn btn-sm btn-soft-danger "
                          (click)="deleteDomainName(domain?.id)" type="button" placement="top" ngbTooltip="Delete">
                          <i class="mdi mdi-delete font-size-16"></i>
                        </a>
                        <a
                          *ngIf="this.usrPer.domains.includes('delete')==false && this.usrPer.domains.includes('update')==false">
                          --
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div id="myModal2" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg position p-5">
    <div class="modal-content">
      <div class="adddomain d-none"
        style="position: absolute;left: 0;height: 100%;opacity:80%;  margin: auto;background: #fff;text-align: center;right: 0;z-index: 1003;">
        <svg _ngcontent-cev-c121="" version="1.1" id="L7" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
          enable-background="new 0 0 100 100" xml:space="preserve" style="width: 5%; margin-top: 15%;">
          <path _ngcontent-cev-c121="" fill="#f29832" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
                                                    c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
            <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate"
              dur="2s" from="0 50 50" to="360 50 50" repeatCount="indefinite">
            </animateTransform>
          </path>
          <path _ngcontent-cev-c121="" fill="#f29832" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
                                                    c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
            <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate"
              dur="1s" from="0 50 50" to="-360 50 50" repeatCount="indefinite">
            </animateTransform>
          </path>
          <path _ngcontent-cev-c121="" fill="#f29832" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
                                                    L82,35.7z">
            <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate"
              dur="2s" from="0 50 50" to="360 50 50" repeatCount="indefinite">
            </animateTransform>
          </path>
        </svg>
        <div class="text-dark">
          <span class="logo-lg">
            <img src="https://wael.local.itwise.pro/cloud_manager/assets/images/logo-argus-dark.png" alt="" height="40">
          </span>
        </div>
      </div>
      <div class="modal-header">
        <h5 class="modal-title">Add new domain</h5>
        <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="domainForm">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label>Name</label>
                <input type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }"
                  required="true" class="form-control">
                <div *ngIf="submitted && form['name'].errors" class="invalid-feedback">
                  <div *ngIf="form['name'].errors">Name required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3" formGroupName="cloud_provider_account">
                <label>Cloud provider account </label>
                <ng-select class="ng-select" formControlName="id"
                  [ngClass]="{ 'is-invalid': submitted && form['cloud_provider_account'].get('id')?.errors }"
                  required="true">
                  <ng-option *ngFor="let p of cloudProvidersAccountsList" [value]="p?.id">{{p?.account?.name}} -
                    {{p?.provider?.name}}</ng-option>
                </ng-select>
                <div *ngIf="submitted && form['cloud_provider_account'].get('id')?.errors" class="invalid-feedback">
                  <div
                    *ngIf="form['cloud_provider_account'].get('id')?.errors">
                    Cloud account required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label>Renew date </label>
                <input type="datetime-local" formControlName="renew_date"
                  [ngClass]="{ 'is-invalid': submitted && form['renew_date'].errors }" class="form-control">
              </div>
            </div>
          </div>
          <div class="modal-footer p-0 pt-2">
            <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect" data-bs-dismiss="modal"
              (click)="close()">Close</button>
            <button type="submit" class="btn btn-primary  btn-rounded waves-effect waves-light"
              (click)="addDomain()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
