<div class="backupLoad d-none"
  style="position: absolute;left: 0;height: 100%;opacity:80%;  margin: auto;background: #fff;text-align: center;right: 0;z-index: 1003;">
  <svg _ngcontent-cev-c121="" version="1.1" id="L7" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
    xml:space="preserve" style="width: 4%; margin-top: 22%;">
    <path _ngcontent-cev-c121="" fill="#f29832" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
                                                    c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
      <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate" dur="2s"
        from="0 50 50" to="360 50 50" repeatCount="indefinite">
      </animateTransform>
    </path>
    <path _ngcontent-cev-c121="" fill="#f29832" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
                                                    c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
      <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate" dur="1s"
        from="0 50 50" to="-360 50 50" repeatCount="indefinite">
      </animateTransform>
    </path>
    <path _ngcontent-cev-c121="" fill="#f29832" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
                                                    L82,35.7z">
      <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate" dur="2s"
        from="0 50 50" to="360 50 50" repeatCount="indefinite">
      </animateTransform>
    </path>
  </svg>
  <div class="text-dark">
    <span class="logo-lg">
      <img src="https://wael.local.itwise.pro/cloud_manager/assets/images/logo-argus-dark.png" alt="" height="50">
    </span>
  </div>
</div>
<app-navbar2></app-navbar2>
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 pt-5">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">BACKUPS</h4>
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a>Backups</a></li>
                <li class="breadcrumb-item active">List </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card mini-stats-wid" id="border">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h6 class="text-dark fw-medium">Configured backups </h6>
                  <h5 class="mb-0">1,235</h5>
                </div>
                <div class="flex-shrink-0 align-self-center">
                  <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                    <span class="avatar-title" id="icone">
                      <i class=" mdi mdi-database-cog-outline font-size-24"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mini-stats-wid" id="border">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h6 class="text-dark fw-medium">Success rate </h6>
                  <h5 class="mb-0">1,235</h5>
                </div>
                <div class="flex-shrink-0 align-self-center">
                  <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                    <span class="avatar-title" id="icone">
                      <i class="  mdi mdi-checkbox-marked-circle-outline font-size-24"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mini-stats-wid" id="border">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h6 class="text-dark fw-medium">Backups completed </h6>
                  <h5 class="mb-0">1,235</h5>
                </div>
                <div class="flex-shrink-0 align-self-center">
                  <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                    <span class="avatar-title" id="icone">
                      <i class=" mdi mdi-database-check font-size-24"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mini-stats-wid" id="border">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h6 class="text-dark fw-medium">Failed backups </h6>
                  <h5 class="mb-0">1,235</h5>
                </div>
                <div class="flex-shrink-0 align-self-center">
                  <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                    <span class="avatar-title" id="icone">
                      <i class=" mdi mdi-database-alert font-size-24"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mini-stats-wid" id="border">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-grow-1">
                  <h6 class="text-dark fw-medium">Size of backups </h6>
                  <h5 class="mb-0">1,235</h5>
                </div>
                <div class="flex-shrink-0 align-self-center">
                  <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                    <span class="avatar-title" id="icone">
                      <i class=" mdi mdi-database-arrow-up-outline font-size-24"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row fl">
                <div class="col-12">
                  <div class="text-sm-end" *ngIf="this.usrPer.backups.includes('create')==true">
                    <button type="button"
                      class="btn btn-primary btn-rounded waves-effect waves-light mb-2 me-2 button-mobile"
                      data-bs-backdrop="static" data-bs-toggle="modal" data-bs-target="#myModal"><i
                        class="mdi mdi-plus me-1"></i>New backup</button>
                    <button type="button"
                      class="btn btn-primary btn-rounded waves-effect waves-light mb-2 me-2 icone-mobile "
                      data-bs-backdrop="static" data-bs-toggle="modal" data-bs-target="#myModal"><i
                        class="mdi mdi-plus me-1"></i></button>
                  </div>
                </div>
              </div>
              <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" datatable class="row-border"
                class="text-center table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline collapsed "
                id="table_backup_op">
                <thead class="table-light ">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Layout</th>
                    <th>Target</th>
                    <th>Synchronization</th>
                    <th>Statut</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let backup_op of backupOperationsList" data-id="backup-op-{{backup_op.id}}">
                    <td>{{backup_op?.id}}</td>
                    <td>{{backup_op?.name}}</td>
                    <td>
                      <div *ngIf="backup_op?.layout ==1">All</div>
                      <div *ngIf="backup_op?.layout ==2">Files</div>
                      <div *ngIf="backup_op?.layout ==3">Folders</div>
                      <div *ngIf="backup_op?.layout ==4">Databases</div>
                    </td>
                    <td>
                      <div *ngIf="backup_op?.target ==1">Local</div>
                      <div *ngIf="backup_op?.target ==0">Remote</div>
                    </td>
                    <td>
                      <div *ngIf="backup_op?.synchronization ==1">YES</div>
                      <div *ngIf="backup_op?.synchronization ==0">NO</div>
                    </td>
                    <td>
                      <div *ngIf="backup_op?.status == 1"> <i
                          class="mdi mdi-circle text-success align-middle me-1"></i>Active </div>
                      <div *ngIf="backup_op?.status == 2"> <i
                          class="mdi mdi-circle text-danger align-middle me-1"></i>Inactive </div>
                      <div *ngIf="backup_op?.status == 3"> <i
                          class="mdi mdi-circle text-warning align-middle me-1"></i>In Progress </div>
                    </td>
                    <td>
                      <div class="d-flex gap-2 justify-content-center">
                        <a *ngIf="this.usrPer.backups.includes('update')==true" class="btn btn-sm btn-soft-primary"
                          [routerLink]="['backups-details',backup_op?.id]" placement="top" ngbTooltip="Edit">
                          <i class="mdi mdi-pencil font-size-16"></i>
                        </a>
                        <a class="btn btn-sm btn-soft-warning" placement="top" ngbTooltip="Stop">
                          <i class="mdi mdi-stop font-size-16"></i>
                        </a>
                        <a *ngIf="this.usrPer.backups.includes('delete')==true" class="btn btn-sm btn-soft-danger"
                          (click)="deleteBackup(backup_op?.id)" type="button" placement="top" ngbTooltip="Delete">
                          <i class="mdi mdi-delete font-size-16"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl p-5">
    <div class="modal-content">
      <div class="addbackup d-none"
        style="position: absolute;left: 0;height: 100%;opacity:80%;  margin: auto;background: #fff;text-align: center;right: 0;z-index: 1003;">
        <svg _ngcontent-cev-c121="" version="1.1" id="L7" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
          enable-background="new 0 0 100 100" xml:space="preserve" style="width: 4%; margin-top: 18%;">
          <path _ngcontent-cev-c121="" fill="#f29832" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
                                                    c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
            <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate"
              dur="2s" from="0 50 50" to="360 50 50" repeatCount="indefinite">
            </animateTransform>
          </path>
          <path _ngcontent-cev-c121="" fill="#f29832" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
                                                    c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
            <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate"
              dur="1s" from="0 50 50" to="-360 50 50" repeatCount="indefinite">
            </animateTransform>
          </path>
          <path _ngcontent-cev-c121="" fill="#f29832" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
                                                    L82,35.7z">
            <animateTransform _ngcontent-cev-c121="" attributeName="transform" attributeType="XML" type="rotate"
              dur="2s" from="0 50 50" to="360 50 50" repeatCount="indefinite">
            </animateTransform>
          </path>
        </svg>
        <div class="text-dark">
          <span class="logo-lg">
            <img src="https://wael.local.itwise.pro/cloud_manager/assets/images/logo-argus-dark.png" alt="" height="40">
          </span>
        </div>
      </div>
      <div class="modal-header">
        <h5 class="modal-title">Add new backup</h5>
        <button type="button" class="btn-close" #closebutton data-bs-dismiss="modal" (click)="close()"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="backupForm">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="d-block  col-md-3">Type</label>
                <div class="d-flex gap-4" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" class="btn-check" id="btnradio6" autocomplete="off" formControlName="classe"
                    value="1">
                  <label class="btn btn-outline-primary" for="btnradio6">Backup</label>
                  <input type="radio" class="btn-check" id="btnradio4" autocomplete="off" formControlName="classe"
                    value="2">
                  <label class="btn btn-outline-primary" for="btnradio4">Snapshot</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label>Name</label>
                <input type="text" formControlName="name"
                  [ngClass]="{ 'is-invalid': submitted && backupform['name'].errors }" class="form-control">
                <div *ngIf="submitted && backupform['name'].errors" class="invalid-feedback">
                  <div *ngIf="backupform['name'].errors backupform['name'].required">Name is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label>Layout</label>
                <ng-select class="ng-select" formControlName="layout"
                  [ngClass]="{ 'is-invalid': submitted && backupform['layout'].errors }">
                  <ng-option *ngFor="let l of layout" [value]="l.value">{{l.name}}</ng-option>
                </ng-select>
                <div *ngIf="submitted && backupform['layout'].errors" class="invalid-feedback">
                  <div *ngIf="backupform['layout'].errors backupform['layout'].required">Layout is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3" formGroupName="instance">
                <label>Instance</label>
                <ng-select class="ng-select" formControlName="id"
                  [ngClass]="{ 'is-invalid': submitted && backupform['instance'].get('id')?.errors }">
                  <ng-option *ngFor="let s of serversList" [value]="s.instance.id">{{s.instance.name}}</ng-option>
                </ng-select>
                <div *ngIf="submitted && backupform['instance'].get('id')?.errors" class="invalid-feedback">
                  <div *ngIf="backupform['instance'].get('id')?.errors backupform['instance'].get('id')?.required">
                    Instance is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label>Target</label>
                <ul class="type_radio">
                  <li class="form-check mb-3">
                    <input class="form-check-input" type="radio" formControlName="target" value="1" id="formRadios1"
                      (click)="cpuChange2(5)">
                    <label class="form-check-label" for="formRadios1">Local</label>
                  </li>
                  <li class="form-check">
                    <input class="form-check-input" type="radio" formControlName="target" value="2" id="formRadios2"
                      (click)="cpuChange2(6)">
                    <label class="form-check-label" for="formRadios2">Remote</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6" *ngIf="valuue === 6">
              <label>Remote server</label>
              <ng-select class="ng-select">
              </ng-select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label>Schedule</label>
                <div class="switch">
                  <input type="radio" id="radio-onee" name="switch-one" value="true" checked (click)="cpuChange(2)" />
                  <label for="radio-onee" class="mb-0">No</label>
                  <input type="radio" id="radio-twoo" name="switch-one" value="false" (click)="cpuChange(3)" />
                  <label for="radio-twoo" class="mb-0">Schedule</label>
                </div>
              </div>
            </div>
            <div class="col-md-6" *ngIf="value == 3">
              <div class="mb-3">
                <label>Schedule date</label>
                <input type="datetime-local" formControlName="schedule" class="form-control" id="flatpickr_time"
                  [ngClass]="{ 'is-invalid': submitted && backupform['schedule'].errors }" required="true">
                <div *ngIf="submitted && backupform['schedule'].errors" class="invalid-feedback">
                  <div *ngIf="backupform['schedule'].errors backupform['schedule'].required">
                    Schedule is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer p-0 pt-2">
            <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect" data-bs-dismiss="modal"
              (click)="close()">Close</button>
            <button type="submit" class="btn btn-primary  btn-rounded waves-effect waves-light"
              (click)="addBackup()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
